body {
    margin: 1.25em 2em 2em 2em;
    padding-bottom: 1em;
    font-family: "Cambria";
    font-size: 1.2em;
}

input[type="number"] {
    width: 4em;
    height: 1.3em;
    border: 2px solid #2e2e2e;
    vertical-align: middle;
    font-family: "Cambria";
    font-size: 1em;
    padding-left: 0.25em;
    margin-bottom: 0.5em;
}

input[type="submit"] {
    width: 4.5em;
    height: 1.7em;
    border: 2px solid #2e2e2e;
    vertical-align: middle;
    font-family: "Cambria";
    font-size: 1em;
    padding-left: 0.25em;
    margin-bottom: 0.75em;
    margin-left: 8em;
    margin-right: 0.5em;
    font-weight: bold;
}

.padding-top {
    padding-top: 20px;
}